<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Koli</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Categories
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li *ngFor="let category of categories">
            <a
              class="dropdown-item"
              (click)="navigateToCategoriesPage(category)"
              >{{ category }}</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="search-filter-container">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (input)="filterProducts()"
        class="search-input"
        placeholder="Search products..."
      />

      <div class="sort-dropdown">
        <button
          class="sort-button dropdown-toggle"
          type="button"
          id="sortDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Sort by Price
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
          <li (click)="sortProducts('asc')">
            <a class="dropdown-item">Low to High</a>
          </li>
          <li (click)="sortProducts('desc')">
            <a class="dropdown-item">High to Low</a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" (click)="proceedToCheckout()">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a class="nav-link" (click)="navigateToAuthPage()">
          <i class="fas fa-sign-in-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
