/* Navbar */
.navbar-brand {
    font-weight: bold;
    color: #333;
}

.navbar-nav .nav-link {
    color: #333;
}

.navbar-nav .nav-item.active .nav-link {
    color: #007bff; /* Active link color */
}

/* Dropdown Menu */
.dropdown-menu .dropdown-item {
    color: #333;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa; /* Hover background color */
}

/* Cart Dropdown */
.dropdown-item.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu.dropdown-menu-right {
    left: auto;
    right: 0;
}

.btn-proceed {
    background-color: #007bff; /* Bootstrap primary color */
    border-color: #007bff; /* Bootstrap primary color */
    color: #fff; /* White text color */
    border-radius: 5px; /* Rounded corners */
    padding: 8px 16px; /* Padding */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .btn-proceed:hover {
    background-color: #0056b3; /* Darker shade of primary color on hover */
  }
  
  .btn-proceed:active {
    transform: translateY(1px); /* Slight vertical movement when clicked */
  }
  
